* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: '微軟正黑體', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
}

p{
  margin: 0;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* section01 */
#section01{
  background: rgb(31, 31, 31);
}

#section01 a{
  color: rgb(87, 197, 160);
  font-size: 20px;
}

.navbar{
  padding: 0;
}
.form-inline{
  flex-flow: row nowrap;
}

.magnifier-icon{
  height: 20px;
  width: 30px;
}

.form-control{
  background: rgb(31, 31, 31);
  border: none;
}

/* section02 */
#section02 .container{
  display: flex;
  justify-content: space-between;
}

#section02 img{
  height: 20px;
  margin: 0 0.5rem;
}

#section02 a {
  color: black;
}

.nav-item{
  border-left: 1px solid rgb(211, 211, 211);
  border-right: 1px solid rgb(211, 211, 211);
}

#star{
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 114.5px;
  height: 40px;
}

.Star-number{
  width: 24px;
  height: 24px;
  color: white;
  text-align: center;
  border-radius:20%;
  background: rgb(200, 200, 200);
}

#cart{
  border-right: 1px solid black;
  width: 114.5px;
  height: 40px;
}

.cart-number{
  width: 24px;
  height: 24px;
  color: white;
  text-align: center;
  border-radius:20%;
  background: rgb(112, 241, 172); 
}

/* section03 */
#section03{
  background: rgb(239, 237, 232);
  padding: 4rem 0;
}

.section03-logo{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.section03-num{
  color: white;
  line-height: 80px;
  text-align: center;
  width: 80px;
  height: 80px;
  background: rgb(71, 189, 126);
}

.section03-text{
  padding-right: 35px;
}

.section03-text1{
  font-size: 40px;
}

.section03-text2{
  font-size: 20px;
}

#section03 .box{
  width: 40px;
  height: 40px;
  background: white;
  object-fit: cover;
  object-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
}

.little-icon{
  width: 50%;

}
/* section04 */
#section04{
  background: rgb(61, 61, 61);
}

#section04 .container{
  position: relative;
  height: 100%;
}

.slider-text-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  color: white;
  text-align: center;
  font-size: 15px;
}

.slider-text-left{
  margin-left: 2rem;
}

.slider-text-right{
  margin-right: 2rem;
}
.slider-text-title{
  font-size: 22px;
}

.slider{
  top:0%;
  position: absolute;
  background: black;
  height:10px;
  width: 97.4%;
}

.slider-green{
  position: absolute;
  left: 1%;
  height: 8px;
  width: 15%;
  background: greenyellow;
}

/* section05 */
#section05{
  background: black;
  padding: 3rem 0;
}

#section05 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.blackbox{
  position: relative;
  margin:1rem 0;
}

.section05-text{
  position: absolute;
  color: white;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 20PX;
}

.blackbox::before{
  position: absolute;
  content: '';
  width: 60%;
  height: 35%;
  background: rgba(0, 0, 0, 0.8);
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

/* section06 */
#section06{
  background:  rgb(239, 237, 232);
  padding: 3rem 0;
}

.section06-text1{
  font-size: 2rem;
}

.section06-text2{
  border: 1px solid rgb(200, 200, 200);
  color: darkgray;
  width:100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

#section06 .col-4{
  position: relative;
}

#section06 .item{
  position: relative;
  margin-bottom: 1rem;
}

#section06 .box{
  width: 100%;
  height: auto;
  background: white;
  cursor: pointer;
}

.price{
  position: absolute;
  width: 75px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(87, 197, 160);
  color: white;
  top: 73%;
  left: 7%;
  font-size: 12px;
}
.OutOfStock{
  position: absolute;
  width: 80px;
  height: 80px;
  background: orange;
  color: white;
  display: flex;
  align-items: center;
  left: 70%;
  top:0;
  font-size: 12px;
  text-align: center;
}

#section06 img{
  padding: 1rem;
}

.white-box{
  border-top: 1px solid black;
  padding: 1rem;
  background: white;
  height: 69px;
}

.se06-img{
  margin: 0 1rem;
  padding: 0 !important;
  width: 25px;
  height: 20px;
}

.image-text{
  border-top: 1px solid black;
  padding: 1rem 0;
  background: white;
  color: black;
  font-size: 1.5rem;
  text-align: center;
}

.TitleAndText{
  background: rgb(223, 219, 212);
  color:black;
  padding: 2rem 1rem;
}

.TitleAndText2{
  background: rgb(223, 219, 212);
  color:black;
  padding: 2rem 1rem 2rem 1rem;
  height: 100%;
}

.TitleAndText2 p{
  font-size: 17px;
}

.green-box{
  width: 50px;
  height: 50px;
  background: rgb(83, 231, 128);
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1rem 0 ;
}

.padding-0{
  padding: 0;
}

.item-3{
  position: relative;
  padding: 0 0 0 15px;
}

.item-4{
  position: relative;
}

.item-5{
  padding: 0 0 0 15px;
}

.TextAbsolute{
  position: absolute;
  top:30%;
  left:15.5%;
  font-size: 15px;
}

.TextAbsolute2{
  position: absolute;
  top:53.5%;
  left:15.5%;
  font-size: 15px;
}

.TextAbsolute3{
  position: absolute;
  top:32%;
  left:14%;
  font-size: 15px;
}

.TextAbsolute4{
  position: absolute;
  top:57%;
  left:14%;
  font-size: 15px;
}

/* footer */
#footer{
  background: black;
  color: white;
  padding: 1rem 0;
}

/* rwd */

@media(max-width:991.98px){
  .price{
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(87, 197, 160);
    color: white;
    top: 79%;
    left: 7%;
    font-size: 10px;
  }
  .slider-text-left{
    margin-left: 0.5rem;
  }
  
  .slider-text-right{
    margin-right: 0.5rem;
  }

  .slider-text{
    font-size: 13px;
  }

  .slider-text-title{
    font-size: 17px;
  }

  .section05-text{
    font-size: 15px;
  }

  .item-1{
    margin-bottom: 1rem;
    order: 1;
  }

  .item-1-2{
    order:2
  }

  .item-2{
    order: 3;
  }
  .item-3{
    order: 1;
    position: relative;
    padding:0;
  }

  .item-4{
    order: 4;
    margin-bottom: 1rem;
  }

  .item-5{
    order: 2;
    padding:0;
    margin-bottom: 1rem;
  }

  .TextAbsolute{
    position: absolute;
    top:33%;
    left:12%;
    font-size: 15px;
  }
  
  .TextAbsolute2{
    position: absolute;
    top:61%;
    left:12%;
    font-size: 15px;
  }
  
  .TextAbsolute3{
    position: absolute;
    top:33%;
    left:12%;
    font-size: 15px;
  }
  
  .TextAbsolute4{
    position: absolute;
    top:61%;
    left:12%;
    font-size: 15px;
  }
}

@media(max-width:767.98px){
  .price{
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(87, 197, 160);
    color: white;
    top: 77.5%;
    left: 7%;
    font-size: 10px;
  }

  .slider-text-left{
    margin-left: 0;
  }
  
  .slider-text-right{
    margin-right: 0;
  }
  
  .slider-text{
    font-size: 10px;
  }

  .slider-text-title{
    font-size: 14px;
  }

  .slider{
    top:0%;
    position: absolute;
    content: '';
    background: black;
    height:10px;
    width: 90%;
  }

  .section05-text{
    font-size: 20px;
  }

  #footer p{
    font-size: 10px;
  }

  .TextAbsolute{
    position: absolute;
    top:31%;
    left:22%;
    font-size: 12px;
  }
  
  .TextAbsolute2{
    position: absolute;
    top:59%;
    left:22%;
    font-size: 12px;
  }
  
  .TextAbsolute3{
    position: absolute;
    top:31%;
    left:22%;
    font-size: 12px;
  }
  
  .TextAbsolute4{
    position: absolute;
    top:59%;
    left:22%;
    font-size: 12px;
  }

  .item-1{
    margin-bottom: 1rem;
    order: 1;
  }

  .item-1-2{
    order:2
  }

  .item-2{
    order: 1;
  }
  .item-3{
    order: 4;
    position: relative;
    padding:0;
  }

  .item-4{
    order: 3;
    margin-bottom: 1rem;
  }

  .item-5{
    order: 2;
    padding:0;
    margin-bottom: 1rem;
  }
}